name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Megalinter
        uses: oxsecurity/megalinter@42bb470545e359597e7f12156947c436e4e3fb9a # v9.3.0
        env:
          APPLY_FIXES: "none"
          BASH_SHFMT_DISABLE_ERRORS: "false"
          DISABLE_LINTERS: MARKDOWN_MARKDOWN_LINK_CHECK,REPOSITORY_CHECKOV,REPOSITORY_SECRETLINT,REPOSITORY_TRIVY,REPOSITORY_TRUFFLEHOG,SPELL_CSPELL,SPELL_LYCHEE
          FILTER_REGEX_EXCLUDE: .*/ISSUE_TEMPLATE/.*
          FLAVOR_SUGGESTIONS: "false"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JSON_PRETTIER_DISABLE_ERRORS: "false"
          LOG_LEVEL: WARN
          MARKDOWN_MARKDOWNLINT_DISABLE_ERRORS: "false"
          PRINT_ALL_FILES: "false"
          PRINT_ALPACA: "false"
          SHOW_ELAPSED_TIME: "true"
          SPELL_MISSPELL_DISABLE_ERRORS: "true"
          VALIDATE_ALL_CODEBASE: "true"
          YAML_PRETTIER_DISABLE_ERRORS: "false"
